@model IEnumerable<ProjetoLinhaMontagem.Models.Encomenda>

<h2>Lista de Encomendas</h2>

<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var encomenda in Model)
        {
            <tr>
                <td>@encomenda.Numero</td>
                <td>@encomenda.Cliente.Nome</td>
                <td>@encomenda.Estado</td>
                <td><a asp-action="Detalhes" asp-route-id="@encomenda.Numero">Detalhes</a></td>
            </tr>
        }
    </tbody>
</table>