@model IEnumerable<ProjetoLinhaMontagem.Models.Notificacao>

<h2>Notificações</h2>

<ul>
    @foreach (var notificacao in Model)
    {
        <li>
            <strong>@notificacao.Data.ToString("dd/MM/yyyy HH:mm"):</strong> @notificacao.Mensagem
        </li>
    }
</ul>