<h2>Enviar Notificação</h2>

<form asp-action="Enviar" method="post">
    <input type="hidden" name="clienteId" value="@ViewBag.ClienteId" />
    <div>
        <label for="Mensagem">Mensagem</label>
        <textarea name="mensagem" required></textarea>
    </div>
    <div>
        <input type="submit" value="Enviar" />
    </div>
</form>