@page "/funcionario/menu"

<h3>Menu Funcionário</h3>

<ul>
    <li><a href="/funcionario/encomendas">Encomendas</a></li>
    <li><a href="/funcionario/linha-montagem">Linha de Montagem</a></li>
    <li><a href="/funcionario/consultar-stock">Consultar Stock</a></li>
</ul>