@page "/cliente/menu"
@inject NavigationManager NavigationManager

<h3>Menu do Cliente</h3>

<div class="menu-container">
    <button class="btn btn-primary" @onclick="IrParaEncomendar">Encomendar</button>
    <button class="btn btn-primary" @onclick="IrParaHistorico">Histórico</button>
</div>

@code {
    private void IrParaEncomendar()
    {
        NavigationManager.NavigateTo("/cliente/encomendar");
    }

    private void IrParaHistorico()
    {
        NavigationManager.NavigateTo("/cliente/historico");
    }
}
