<h2>Repor Material</h2>

<form asp-action="Repor" method="post">
    <div>
        <label for="Id">ID do Material</label>
        <input type="number" name="id" required />
    </div>
    <div>
        <label for="Quantidade">Quantidade</label>
        <input type="number" name="quantidade" min="1" required />
    </div>
    <div>
        <input type="submit" value="Repor" />
    </div>
</form>